.list-group-item{
  color: white;
  float: left;
  font-size: 24px;
  margin: 10px;
}
.list{
 position: absolute;
 left: 400px;
 top:10px;
}
.logo{
  font-size: 40px;
  margin-top:10px;
  float: left;
  color: white;
  position: relative;
}
.head{
    background: #001529;
    height: 80px;
    /* position: fixed;
    display: block;
    z-index: 9999;
    width: 100%; */
}
.main{
  height: 100%;
}

.active{
  color:black;
}
.menu{
  font-size: 20px;
  line-height: 20px;
  margin-top: 20px;
}